## Star Excercise

### 1. Right angled Triangle

In [8]:
n = int(input("Enter number of rows: "))
for i in range(n):
    for j in range(i+1):
        print("*", end= " ")
    print()

Enter number of rows:  7

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

### 2. Inverted Right-angled Triangle

In [12]:
n = int(input("Enter number of rows: "))
for i in range(n):
    for j in range(i,n):
        print("*", end= " ")
    print()

Enter number of rows:  5

* * * * *
* * * *
* * *
* *
*

### 3. Number trinagle

In [20]:
n = int(input("Enter number of rows:"))
for i in range (n+1):
    for j in range(i+1):
        print(i, end = "\t") #\t for tab space
    print()

Enter number of rows: 8

0
1	1
2	2	2
3	3	3	3
4	4	4	4	4
5	5	5	5	5	5
6	6	6	6	6	6	6
7	7	7	7	7	7	7	7
8	8	8	8	8	8	8	8	8

### 4. Factorial
#### 0! = 1
#### 1! = 1x0! = 1x1 = 1
#### 2! = 2x1! = 2x1 = 2
#### 3! = 3x2! = 3x2 = 6
#### 4! = 4x3! = 4x6 = 24
#### 5! = 5x4! = 5x24= 120
#### 6! = 6x5! = 6x120 = 720
#### 7! = 7x6! = 7x720 = 5040
#### **General formula**
#### **n! = nx(n-1)!**

In [22]:
def factorial(n):
    if n<2:
        return 1
    else : 
        return n*(factorial(n-1))

n = int(input("Enter a number:"))
result = factorial(n)

print(f"{n}! : {result}")

Enter a number: 4

4! : 24

### 5. Multiplication Table

In [21]:
n = int(input("Multiplication Table of"))
print("*" * 25)

for i in range(1,11):
    x = n*i
    print(f"{n}*{i} = {x}")

Multiplication Table of 65

*************************
65*1 = 65
65*2 = 130
65*3 = 195
65*4 = 260
65*5 = 325
65*6 = 390
65*7 = 455
65*8 = 520
65*9 = 585
65*10 = 650